<a href="https://colab.research.google.com/github/Pranav444809/digital-clock/blob/main/google_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[1])

my_function("Emil", "Tobias", "Linus",'prashant')

In [ ]:
def fact(n):
  if n==1 or n==0:
     return 1
  else:
     return(n*fact(n-1))
print(fact(0))

In [ ]:
# write a code only the duplicate carectors from the string ?
str='abcdefscfabghulaxepranav'
x=input('enter the alphabate : ')
if str.count(x)>1:

In [ ]:
str1="abbbcdeef"
str2=""
for i in range(len(str1)):
  if i<len(str1)-1:
    if str1[i]==str1[i+1] and str1[i] not in str2:
      str2=str2+str1[i]
print(str2)

be

In [ ]:
# Write a program that prints the numbers from 1 to 100. But for multiples of three print “Fizz” instead of the number and for the multiples of five print “Buzz”. For numbers which are multiples of both three and five print “FizzBuzz”
# Count number of even and odd elements in an array
# Given an array with all integers between 1 and 100 except for one, find the missing number.
# Rotate an array
# Move all the negative elements to one side of the array.

In [ ]:
# Write a program that prints the numbers from 1 to 100. But for multiples of three print “Fizz” instead of the number and for the multiples of five print “Buzz”. For numbers which are multiples of both three and five print “FizzBuzz”
n=101
for i in range(1,n): 
  if i%3==0 and i%5==0:
   print("FizzBuzz")
  elif i%5==0:
   print("Buzz")
  elif i%3==0:
    print("Fizz")
  else:
   print(i)

In [ ]:
# Count number of even and odd elements in an array
mix_lst=[32,45,62,85,9,6,75,2,4,5545,45]
even_cnt=0
odd_cnt=0
 
for i in mix_lst:
    if i%2==0:
        even_cnt=even_cnt+1   #event
    else:
        odd_cnt=odd_cnt+1

print(f' {even_cnt} : is your even count')
print(f' {odd_cnt} : is your odd count')

In [ ]:
# Given an array with all integers between 1 and 100 except for one, find the missing number.

In [ ]:
# Rotate an array
list2=[1,2,3,4,5]
temp=[]
rotate=4
i=0 
while i<rotate:
  temp.append(list2[i])
  i=i+1
for j in range(rotate):
  list2.remove(list2[0])
for i in temp:
  list2.append(i)
list2

In [ ]:
# Annagram
# str1="dynamitte"
# str2="may it end"
 
str1="gold and silver" 
str2="grand old evils"
str11=str1.lower()
str22=str2.lower()
lst22=[j for j in str22 if j!=" "]
print(lst22)
lst11=[i for i in str11 if i!=" "]
print(lst11)
if len(lst11)==len(lst22):
    for i in lst11+lst22:
        if i not in lst11 or i not in lst22:
            print(i)
            break
    else:
        print("yes the string is anagram")
else:
    print("the string is not anagram")


# 2nd Approach
def anagram(a,b):
  if len(a)!=len(b):
    return 'Not anagram'
  dict_a={}
  dict_b={}
  for i in range(len(a)):
    dict_a[a[i]]=1+dict_a.get(a[i],0)
    dict_b[b[i]]=1+dict_b.get(b[i],0)
  for j in dict_a:
    if dict_a[j]!=dict_b[j]:
      return "Not anagram"
  return "Anagram"

In [ ]:
lst =[1,2,3,4,5,6,7,8,9]
lst2=[]
for i in lst:
    a=i**2
    lst2.append(a)
    i=i+1
print(lst2)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Binary Search
def binary_search(list1,start,end,x):
  if start<end:
    mid=(start+end)//2
    if list1[mid]==x:
      return mid
    
    elif list1[mid]<x:
      return binary_search(list1,mid+1,end,x)
    elif list1[mid]>x:
      return binary_search(list1,start,mid-1,x)
  else:
    return -1

In [ ]:
m=3
number=81
n=1
result=m
while result<=number:
  if result==number:
    print(n)
    break
  result=result*m
  n=n+1

In [ ]:
m=1024
for i in range(1,m+1):
    if 2**i ==1024:
        print(i)

10

In [ ]:
squre_even=[i*i for i in lst if i%2==0 else ]
print(squre_even)

[4, 16, 36, 64]

In [ ]:
new_lst=[for i in lst if i%2==0 print(i*i) ]

In [ ]:
str1="eleven plus two"
str2="twelve plus one"
str11=str1.lower()
str22=str2.lower()

lst22=[j for j in str22 if j!=" "]
print(lst22)
lst11=[i for i in str11 if i!=" "]
print(lst11)

if len(lst11)==len(lst22):
    for i in lst11+lst22:
        if i not in lst11 or i not in lst22:
            print(i)
            break
    else:
        print("yes the string is anagram")
              
else:
    print("the string is not anagram")

In [ ]:
# Python program to interchange first and last elements in a list.
lst=[45,33,46,74,85,67,4.56+6j]
def swaplist(list2):
    size=len(list2)
    temp=list2[0]                         
    list2[0]=list2[size-1]
    list2[size-1]=temp
    return list2
list2=swaplist(lst)
print(list2)

[(4.56+6j), 33, 46, 74, 85, 67, 45]

In [ ]:
list=[]
for i in range(5):
    for j in range(6):
        list.append(i)
print(list)

[0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4]

In [ ]:
universal_list=[]
for i in range(5):
    sub_list=[]
    for j in range(1,5,2):
        sub_list.append(j)
        print(sub_list)
    universal_list.append(sub_list)
print(universal_list)

In [ ]:
# by using list comprihension
universal_list=[[i for i in range(4)] for j in range(5)]
print(universal_list)

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [ ]:
str1="my name is anthony gonzalvis"
str2=''
for i in str1:
  if i=="a":
    str2=str2+"e"
  elif i=="e":
    str2=str2+"a"
  else:
    str2=str2+i
print(str2)

my nema is enthony gonzelvis

In [ ]:
a='amitabh'
b='bacchan'
c=25
d=['ashu', 13,34,54,'ritu']
e={'salman':'khan','johny':'lever','anil': 45}
def my_func(a,b,c,*d,**e):
    print(a,b,c)
    for i in d:
        print(i)
    for key,value in e.items():
        print(f"this is the {key} and this is {value}")


f=56
g='ghulace45'
h=('suresh','ramesh','ashish')
my_func(a,b,c,d,e,f,g,h)

amitabh bacchan 25
['ashu', 13, 34, 54, 'ritu']
{'salman': 'khan', 'johny': 'lever', 'anil': 45}
56
ghulace45
('suresh', 'ramesh', 'ashish')

In [ ]:

class Batch:
    passing_marks=60
    def __init__(self,name,surname,marks):
        self.name=name
        self.surname=surname
        self.marks=marks
        def func1(self):
            passing_marks=50
            self.batch="may batch"
def func2(self):
    if self.marks>self.passing_marks:
        print(f"congratulations {self.name} you are passed ")
    else:
        print(f" Sorry {self.name} you are failed")
def print_welcome(self):
    print(f"Hey {self.name} welcome  to digikull")

In [ ]:
lst=[1,2,2,2,4,5,6,7,8,9,10]
start=0
end=len(lst)-1
 
sublist=[]
univ=[]
while start<end:
    sum=lst[start]+lst[mid]+lst[end] 
    if sum ==13:
        sublist=[]
        sublist.append(lst[start])
        sublist.append(lst[mid])
        sublist.append(lst[end])
        univ.append(sublist)
        start=start+1
        end=end-1

    elif sum >13:
        end=end-1
    else:
        start=start+1
 
        
print(univ)

In [12]:
lst=[2,6,5,4,7,8,2,1,10,1,2]
univ=[]
x=13
for i in range(0,len(lst)-2):
    if lst[i]+lst[i+1]+lst[i+2]==x:
        sublist=[]
        sublist.append(lst[i])
        sublist.append(lst[i+1])
        sublist.append(lst[i+2])
        print(lst[i],lst[i+1],lst[i+2])
        univ.append(sublist)
print(univ)
#print("There are {​​​​​univ} triplet which sum to {​​​​​x}​​​​​".format(univ,x))

2 6 5
2 1 10
10 1 2
[[2, 6, 5], [2, 1, 10], [10, 1, 2]]

KeyError: ignored

In [ ]:
####    Triplet sum  ####

list1=[1,2,3,4,5,6,8,9,10]
list2=[]

x=18
for i in range(0,len(list1)-1): # i= 0
    start=i+1
    end=len(list1)-1
    while start<end: #start=1 end=5 , start=2, start=3 end=4, 
        if list1[start]+list1[end]+list1[i]==x:
            list3=[]
            list3.append(list1[start])
            list3.append(list1[i])
            list3.append(list1[end])
            list2.append(list3)
            start=start+1
            end=end-1
        elif list1[start]+list1[end]+list1[i]>x:
            end=end-1
        else:
            start=start+1
print(list2)

[[8, 1, 9], [6, 2, 10], [5, 3, 10], [6, 3, 9], [5, 4, 9], [6, 4, 8]]

In [ ]:
def rectangle_sum(A, l1, sum): 
  
    
    for i in range( 0, l1-3): 
        for j in range(i + 1, l1-2): 
            for k in range(j + 1, l1-1):
                for l in range(k+1, l1):
                    if A[i] + A[j] + A[k] +A[l] == sum: 
                        print(f"rectangle_sum is  {A[i]} , {A[j]}, {A[k]},{A[l]}") 
                    #return True
    return False
A = [1, 4, 45, 6, 10, 8,7,6,4,5,3,2,1] 
sum = 20
l1 = len(A)
print(l1)
rectangle_sum(A, l1, sum)

In [ ]:

class vehicle:
    def __init__(self,color,maxspeed):
        self.color=color
        self.maxspeed=maxspeed
    def print(self):
        print("color : ", self.color)
        print("maxpeed : ", self.maxspeed)

class car(vehicle):
    def __init__(self,color,maxspeed,numgear,isconvertible):
        super().__init__(color,maxspeed)
        self.numgear=numgear
        self.isconvertible=isconvertible

    def print(self):
        print("color : ", self.color)
        print("maxpeed : ", self.maxspeed)
        print("numgear : ", self.numgear)
        print("isconvertible : ", self.isconvertible)
car_obj= car("White",180,5,True)
car_obj.print()

In [ ]:
# sort 0 and 1

list=[0,1,1,1,0,0,1,0,1,1,0,0]
for i in range(len(list)):
  for j in range(i+1,len(list)):
    if list[i]>list[j]:
      list[i],list[j]=list[j],list[i]
print(list)


#  Ashish Shimpi
lst=[0,1,0,1,0,1,1,1,0,1,0,1,0,1] l=0
r=len(lst)-1
c=0 while c<=r:
    if lst[c]==0:
        lst[c],lst[l]= lst[l],lst[c]
        c+=1
        l+=1      
    elif lst[c]==1:
        lst[c],lst[r]=lst[r],lst[c]
        r-=1       
print(lst)


#   shweta singh
arr=[0,1,1,0,0,1,0,1]
for i in range(len(arr)):
  for j in range(i+1,len(arr)):
    if arr[i]>arr[j]:
      arr[i],arr[j]=arr[j],arr[i]
print(arr)


# athvan
def sort(arr,n):
    count = 0
    for i in range(0,n):
        if (arr[i] == 0):
            count = count + 1
    for i in range(0,count):
        arr[i] = 0
    for i in range(count,n):
        arr[i] = 1
def print_arr(arr,n):
    print("Array after sort is ", end = "")
    for i in range(0,n):
        print(arr[i],end = " ")

SyntaxError: ignored

In [ ]:
# count 0 in in given integer
def cnt0(no):
    cnt=0
    if len(no)==0:
        return cnt
    if no[0]=="0":
        cnt+=1
    return cnt0(no[1:])+cnt
 
a=1045060006000
no=str(a)
cnt0(no)



def count_zeros(number):

    count = 0

    while number > 9:

        count += int(number % 10 == 0)

        number //= 10

    return count




    def count_0(lst):
    cnt=0
    if len(lst)==0:
        return cnt
 
    if lst[0]==0:
        cnt=cnt+1
    return count_0(lst[1:])+cnt  
num=10450600060
lst0=[int(i) for i in str(num)]
print(lst0)
# lst0=[1,0,4,5,0,6,0,0,0,6,0]
print(count_0(lst0))

# ***OOPs***

In [25]:
# Creating a phone class
class Phone:
    def make_call(self):
        print('making a phone call')

    def play_game(self):
        print('playing Game')

# Instantiation of P1 Object
p1=Phone()
p2=Phone()

# Invoking the method through Object 
p1.make_call()
p1.play_game()
p2.make_call()

making a phone call
playing Game
making a phone call

In [ ]:
# creating a class
class vehicle():
    def start_vehicle(self):
        print('Initially you should start the vehicle')
    def run_vehicle(self):
        print('Then run the vehicle')

# Instantiation of P1 Object
Maruti=vehicle()
Suzuki=vehicle()
realme=Phone()
micromax=Phone()

# Invoking the method through Object 
Maruti.start_vehicle()
Suzuki.run_vehicle()
realme.play_game()
micromax.make_call()